body {
  background: #f3faff;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
}

.signup-container {
  width: 750px;
  background: #fff;
  border-radius: 25px;
  box-shadow: 0 0 35px rgba(0, 200, 255, 0.3);
  overflow: hidden;
  display: flex;
  margin: auto;
  margin-top: 40px;
}



    /* Left */
    .left-side {
      width: 50%;
      padding: 40px;
      text-align: center;
    }

    .left-side h2 {
      font-size: 30px;
      margin-bottom: 25px;
    }

    .form-control {
      border-radius: 50px;
      padding: 12px 18px;
      margin-bottom: 15px;
      border: 1px solid #e4f7ff;
      box-shadow: 0 0 12px rgba(0, 200, 255, 0.2);
    }

    .note {
       font-size: 12px;
      color: gray;
      text-align: left;
      padding-left: 5px;
    }

    .signup-btn {
      width: 100%;
      border-radius: 50px;
      padding: 12px;
      font-size: 16px;
      border: none;
      margin-top: 10px;
      color: white;
      background: linear-gradient(90deg, #00c6ff, #009eff);
      box-shadow: 0 0 12px rgba(0, 180, 255, 0.4);
    }

    /* Right */
    .right-side {
      width: 50%;
      background: linear-gradient(135deg, #00d4ff, #00a4ff);
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 40px;
      text-align: center;
    }