body {
  background: #f3faff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: "Poppins", sans-serif;
}


    .login-container {
      width: 850px;
      height: 480px;
      background: #fff;
      border-radius: 25px;
      box-shadow: 0 0 35px rgba(0, 200, 255, 0.3);
      overflow: hidden;
      display: flex;
      margin: auto; /* centers the form vertically with navbar */
      margin-top: 40px;
    }

    .left-side {
      width: 50%;
      padding: 40px;
      text-align: center;
    }

    .right-side {
      width: 50%;
      background: linear-gradient(135deg, #00d4ff, #00a3ff);
      color: white;
      padding: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    .form-control {
      border-radius: 50px;
      padding: 12px 18px;
      box-shadow: 0 0 12px rgba(0, 200, 255, 0.2);
      border: 1px solid #e4f7ff;
      margin-bottom: 12px;
    }

    .login-btn {
      border-radius: 50px;
      padding: 12px;
      width: 100%;
      background: linear-gradient(90deg, #00c6ff, #009dff);
      border: none;
      color: white;
      font-size: 16px;
      box-shadow: 0 0 12px rgba(0, 180, 255, 0.4);
    }

    .note {
      font-size: 12px;
      color: gray;
      text-align: left;
      padding-left: 5px;
    }


  /* ============== */
  body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #667eea, #764ba2);
  min-height: 100vh;
}

.task-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.task-app {
  background: #ffffff;
  width: 380px;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.25);
}

.task-app h2 {
  text-align: center;
  margin-bottom: 20px;
}

.task-input {
  display: flex;
  gap: 10px;
}

.task-input input {
  flex: 1;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.task-input button {
  background: #667eea;
  border: none;
  color: white;
  padding: 10px 14px;
  border-radius: 6px;
  cursor: pointer;
}

#taskList {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

#taskList li {
  background: #f4f6f8;
  padding: 10px 12px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.delete-btn {
  cursor: pointer;
  color: #e74c3c;
  font-size: 16px;
  transition: 0.3s;
}

.delete-btn:hover {
  color: #c0392b;
  transform: scale(1.1);
}

.logout-btn {
  width: 100%;
  padding: 10px;
  background: #ff4d4d;
  border: none;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}
